.page {
    font-family: 'Open Sans';
    margin: 0;
    font-size: 16px;
    display: flex;
    flex-direction: column;

}

.page__header_grey {
    background-color: #F6F2F2;
}

/*HEADER*/

.header {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    max-width: 1250px;
    min-height: 90px;
    margin: 0 auto;
    background: #000000;
}

.header__navigation {
    display: flex;
    flex-wrap: wrap;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu__item {
    display: flex;
    align-items: stretch;
    justify-content: center;
    min-height: 90px;
}

.menu__item:hover {
    background-color: #FF3F40;
}

.menu__link {
    display: flex;
    align-items: center;
    padding: 0 30px;
    color: #F6F2F2;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

/*INTRO*/

.page__content {
    flex-grow: 1;
}

.page__intro_grey {
    background-color: #F6F2F2;
}


.intro {
    padding-top: 102px;
    padding-bottom: 94px;
}

.section {    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1250px;
    margin: 0 auto;
    padding-left: 1vw;
    padding-right: 1vw;
}

.intro__content {
    position: relative;
    bottom: 12px;
    width: 616px;
    margin-bottom: 20px;
    margin-right: 74px; 
}

.intro__heading {
    margin: 0;
    font-size: 60px;
    line-height: 72px;
    font-weight: 800;
    text-transform: uppercase;
    font-family: 'Open Sans';
    letter-spacing: 1.5px;
    max-width: 618px;
    
}

.intro__text {
    margin: 0;
    line-height: 28px;
    font-weight: 400;
    font-size: 16px;
    max-width: 544 px;
    margin-bottom: 50px;
    margin-top: 36px;
}

.action-button {
    font-family: 'Open Sans';
    box-sizing: border-box;
    display: inline-block;
    width: 228px;
    height: 56px;
    padding: 16px 0;
    text-align: center;
    text-decoration: none;
    border-radius: 6px;
    
}

.action-button_red {
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #FF2D2D;
}

.intro__image {
    width: 554px;
    height: 360px;
}

/*Services*/

.services {
    padding-top: 106px;
    padding-bottom: 52px;
    border-bottom: 5px solid #ECECEC;
}

.services__lead {
    flex: 1 1 538px;
    max-width: 538px;
    margin-bottom: 50px;
    margin-right: 50px;
}

.services__heading {
    position: relative;
    bottom: 6px;
    font-size: 42px;
    margin-bottom: 28px;
    text-transform: uppercase;
}

.services__text {
    margin: 0;
    line-height: 28px;
    margin-bottom: 50px;
}

.action-button_white {
    font-size: 18px;
    color: #FF2D2D;
    font-weight: 700;
    background-color: #FFFFFF;
    border: 2px solid #FF0000;

}

.services__blocks {
    margin-top: 16px;
    flex: 1 1;
    max-width: 610px;
    display: flex;
    flex-wrap: wrap;
}

/*Service*/

.service {
    flex: 1 1 288px;
    width: 288px;
    margin-bottom: 50px;
    margin-left: 16px;
    margin-top: 15px;
}

.service__heading {
    margin: 0;
    letter-spacing: 0.27px;
    font-weight: 600;
    font-size: 24;
    margin-bottom: 12px;
    margin-top: 12px;

}

.service__heading::before {
    display: block;
    width: 41px;
    height: 41px;
    margin-bottom: 30px;

}

.service__text {
    margin: 0;
    line-height: 28px;

}

.service__heading_manage::before {
    content: url('../images/1.png');
}

.service__heading_ux::before {
    content: url('../images/2.png');
}

.service__heading_logo::before {
    content: url('../images/3.png');
}

.service__heading_anim::before {
    content: url('../images/4.png');
}

/*Feature products*/

.feature {
    padding-top: 104px;
    padding-bottom: 52px;


}

.feature__header {
    width: 100%;
    text-align: center;
    margin-bottom: 66px;
}

.feature__heading {
    padding-left: 14px;
    margin-bottom: 16px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 42px;
}

.feature__text {
    line-height: 28px;
    max-width: 500px; 
    margin: 0 auto 30px;
    font-size: 16px;

}

.header__line {
    border: 1px solid #FF2D2D;
    width: 134px;
    max-height: 5px;
}

.products__filter {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    margin-bottom: 60px;
}

.products__link {
    position: relative;
    left: 46px;
    color: #000000;
    margin-right: 56px;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 0.22px;
    text-transform: uppercase;
    text-decoration: none;
    opacity: 0.7;

}

.products__link_active {
    color: #FF2D2D;
    opacity: 1;
}

.products__link:hover{
    color: #FF2D2D;
}

.products {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product {
    flex: 1 1 24%;
    max-width: 298px;
    height: 292px;
    margin-bottom: 18px;
    object-fit: cover;
}

.product:hover {
    cursor: pointer;
}

/*Team*/

.team {
    padding-top: 60px;
    padding-bottom: 120px;

}

.team__header {
    width: 100%;
    text-align: left;
    margin-bottom: 66px;
}

.team__heading {
    margin-bottom: 24px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 42px;
    color: #000000;
    letter-spacing: 0.3834px;
}

.team__text {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    max-width: 460px;
    margin-bottom: 30px;
}

.team__line {
    border: 1px solid #FF2D2D;
    width: 134px;
    margin-left: 0;
    max-height: 5px;
}

.team__members {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    min-height: 462px;
}

.team__selected-photo {
    flex-shrink: 0;
    width: 290px;
    height: 458px;
    margin-right: 30px;
    background-color: #FF3F40;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    align-self: start;
}

.team__main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
@supports (display: grid) and (display:contents) {
    .team__members {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
    }

    .team__main-content {
        display: contents;
    }
}

.team__selected-info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: start;
    justify-content: space-between;
    max-width: 662px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.team__selected-about {
    margin: 0;
    line-height: 28 px;
    margin-bottom: 34px;
    max-width: 636px;
    padding-top: 30px;
}

.team__selected-name {
    bottom: 6px;
    font-size: 30px;
    margin-right: 15px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 0.275265px;
    margin-bottom: 16px ;
}

.team__selected-link {
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.9px;
    color: #000000;
    text-decoration: none;
    margin-right: 30px;
}

.team__selected-link:hover {
    text-decoration: underline;
    color: #270799;
}

.members {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.member {
    position: relative;
    margin-top: 18px;
}

.member:not(:last-child) {
    margin-right: 18px;
}

.member__name {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    color: #FFFFFF;
    position: absolute;
    bottom: 0;
    height: 38px;
    margin: 0;
    text-align: center;
    background: #000000;
    mix-blend-mode: normal;
    opacity: 0.5;
    text-transform: uppercase;
    width: 100%;
}

.member:hover > .member__name {
    visibility: visible;
}

.member__photo {
    display: block;
    width: 198px;
    height: 218px;
    background-color: gray;
}

/*Subscribe*/

.subscribe {
    box-sizing: border-box;
    display: block;
    width: 100%;
    max-width: 100%;
    background-color: #2D2D2D;
    padding-top: 124px;
    padding-bottom: 140px;
}

.subscribe__header {
    max-width: 1250px;
    margin: 0 auto;
    text-align: center;
}

.subscribe__heading {
    margin: 0;
    font-weight: 700;
    font-size: 42px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 1.05px;
    color: #FFFFFF;
}

.subscribe__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    padding-top: 10px;
}

.subscribe__form {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    padding-top: 40px;
}

.subscribe__input {
    color: #2C2C2C;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    flex: 0 1 526px;
    min-height: 82px;
    padding: 0;
    padding-right: 22px;
    padding-left: 36px;
    border: none;
    margin-bottom: 16px;
    border-radius: 5px;

}

.subscribe__button {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    color: #FFFFFF;
    background-color: #FF2D2D;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    width: 218px;
    min-height: 82px;
    border: none;
    border-radius: 5px;
    margin-left: 20px;

}